@tailwind base;
@tailwind components;
@tailwind utilities;

/* small theme tokens */
:root{
  --brand: #0ea5e9;
}

body{font-family:Inter,ui-sans-serif,system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial}
